<h1>管理者ページ</h1>
<div>
    <a href="/users">ユーザー一覧</a>
</div>

<h2>Record検索</h2>
<form class="contents" method="GET" action="/summary">
    <div class="contents">
        <div class="item">ID</div>
        <div class="itemv">
            <input type="text" name="id" pattern="[0-9]{4}" />
        </div>
    </div>
    <div class="contents">
        <div class="item">課程</div>
        <div class="itemv">
            <select name="phase">
                <option value="CP1">CP1</option>
                <option value="CP2">CP2</option>
                <option value="INST1">INST1</option>
            </select>
        </div>
    </div>
    <div class="search_button">
        <input type="submit" value="検索">
    </div>
</form>