<h1>Training Record 新規作成</h1>
<form action="/record/create" method="POST">
    <div class="contents">
        <div class="item">Trainee ID</div>
        <div class="itemv">
            <input type="text" name="trainee_id" pattern="[0-9]{4}" required>
        </div>
    </div>
    <div class="contents">
        <div class="item">課程</div>
        <div class="itemv">
            <select name="phase">
                <option value="CP1">CP1</option>
                <option value="CP2">CP2</option>
                <option value="INST1">INST1</option>
            </select>
        </div>
    </div>
    <div class="contents">
        <div class="item">DATE</div>
        <div class="itemv">
            <input type="date" name="date" required>
        </div>
    </div>
    <div class="contents">
        <div class="item">INST ID</div>
        <div class="itemv">
            <% if(currentUser.group === "Admin"){ %>
            <input type="text" name="inst_id" pattern="[0-9]{4}" required>
            <% } else { %>
            <input type="hidden" name="inst_id" value="<%= currentUser.id %>">
            <%= currentUser.id %>
            <% } %>
        </div>
    </div>
    <div class="contents">
        <div class="item">総合評価</div>
        <div class="itemv">
            <input type="number" name="g_grade" min="1" max="3" required>
        </div>
    </div>
    <div class="contents">
        <div class="item">操作技術</div>
        <div class="itemv">
            <input type="number" name="technical" min="1" max="3" required>
        </div>
        <div class="itemvl">
            <textarea name="t_comment"  cols="50" rows="2"></textarea>
        </div>
    </div>
    <div class="contents">
        <div class="item">知識</div>
        <div class="itemv">
            <input type="number" name="knowledge" min="1" max="3" required>
        </div>
        <div class="itemvl">
            <textarea name="k_comment"  cols="50" rows="2"></textarea>
        </div>
    </div>
    <div class="contents">
        <div class="item">CRM</div>
        <div class="itemv">
            <input type="number" name="crm" min="1" max="3" required>
        </div>
        <div class="itemvl">
            <textarea name="c_comment"  cols="50" rows="2"></textarea>
        </div>
    </div>
    <button type="submit">登録</button>
</form>