<h1>Training Record Search</h1>
<form class="contents" method="GET" action="/summary">
    <div class="item">所属</div>
    <div class="itemv">
        <select>
            <option value="Peach01">Peach01</option>
            <option value="Peach02">Peach02</option>
            <option value="Peach03">Peach03</option>
            <option value="ANA01">ANA01</option>
            <option value="ANA01">ANA01</option>
            <option value="ANA01">ANA01</option>
            <option value="ANA01">ANA01</option>
            <option value="HONDA_CP01">HONDA_CP01</option>
            <option value="HONDA_CP02">HONDA_CP02</option>
            <option value="HONDA_CP03">HONDA_CP03</option>
            <option value="HONDA_CP04">HONDA_CP04</option>
            <option value="HONDA_CP05">HONDA_CP05</option>
        </select>
    </div>
    <div class="contents">
        <div class="item">ID</div>
        <div class="itemv">
            <input type="number" name="id" min="1001" max="9999" />
        </div>
    </div>
    <div class="contents">
        <div class="item">氏名</div>
        <div class="itemv"></div>
    </div>
    <div class="contents">
        <div class="item">課程</div>
        <div class="itemv">
            <select name="phase">
                <option value="CP1">CP1</option>
                <option value="CP2">CP2</option>
                <option value="INST1">INST1</option>
            </select>
        </div>
    </div>
    <div class="search_button">
        <input type="submit" value="検索">
    </div>
</form>