<h1>ログイン</h1>
<form action="/login" method="POST">
    <div class="contents">
        <div class="item">メールアドレス</div>
        <div class="itemv"><input type="text" name="email" required></div>
    </div>
    <div class="contents">
        <div class="item">パスワード</div>
        <div class="itemv"><input type="password" name="password" required></div>
    </div>
    <button type="submit">ログイン</button>
</form>